<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{t 'books.new_rent_created' }, yay!" %></h1>
    <p><%= "#{t 'books.rental_creation_date' }: #{@rent.created_at}" %></p>
    <br>
    <h3><%= t 'books.book_information' %></h3>
    <h6><%= "#{t 'books.book_title' }: #{@rent.book.title}" %> </h6>
    <h6><%= "#{t 'books.book_author' }: #{@rent.book.author}" %> </h6>
    <br>
    <h3>Rental information</h3>
    <h6>Start date: <%= @rent.start_of_rent %> </h6>
    <h6>End date: <%= @rent.end_of_rent %> </h6>
  </body>
</html>